@page
@model ForgotpassModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forgot Password</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="~/css/register.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="wrapper">
 <form action="">
    <h1> Forgot Password </h1>
        <label>
    Enter you Email Address to change your password
    </label>
    <div class="input-box">
    <div class="input-field">
    <input type="email" placeholder="Email" required>
    <i class='bx bxs-envelope'></i>
    </div>
    </div>
    <button type="submit" class="btn">Request for Change Password</button>
 </form>
</div>
</body>
</html>
